<link rel="stylesheet" href="/css/usuario.css">
<link rel="stylesheet" href="/css/bootstrap.css">
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<script src="https://code.jquery.com/jquery-3.5.1.min.js" integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>
<script src="/js/wsBrowserClient.js" ></script>
<script src="/js/main.js" charset="utf-8"></script>


<body>  

    {{#if datosEstacion}}
    <!--INICIA PAGINA PARA MOSTRAR DATOS DE LAS ESTACIONES-->
    <div  style="padding-top: 50px" id="stationsDetails">
        <div class="row">
            <div class="card col-md-12 p-4">
                <div class="row">
                    <div class="col-md-8">
                        <h5>DETALLES DE ESTACIONES</h5>
                    </div> 
                    <div class="col-md-4 p-1">
                        <div class="card card-body text-center">
                            {{#if datosEstacion}}
                                <button onclick="setPageAddStation()" class="btn btn-info">
                                    Agregar nueva estación</button>
                                <button onclick="xhr()" class="btn btn-danger">
                                    Solicitud HTTP</button>
                            {{else}}
                                <p>No existe ninguna estación registrada en la base de datos</p>
                                <a href="/home/estaciones/agregar">Agregar primera estación</a>
                            {{/if}}
                        </div>
                    </div>
                </div>
                <table class="table text-center">
                    <thead>
                        <tr>
                            <td>ID</td>
                            <td>Codigo Estacion</td>
                            <td>Nombre</td>
                            <td># Conectores</td>
                            <td>Conexion</td>
                            <td>Estado</td>
                            <td class="text-center">Acciones</td>
                        </tr>
                    </thead>
                    <tbody>
                    {{#each datosEstacion}}
                        <tr>
                            <td>{{id_estacion}}</td>
                            <td>{{codigo_estacion}}</td>
                            <td>{{nombre_estacion}}</td>
                            <td>{{cant_conectores}}</td>
                            
                            <td  id="ping{{id_estacion}}" class="fa fa-circle" style="color: red"></td>
                            <td  id="status{{id_estacion}}" ></td>
                            <td class="text-center">
                                <button onclick="toStationDetails({{id_estacion}})" title="Detalles">
                                <em class="fa fa-eye p-2 btn btn-info btn-sm"></em></button>
                                <!--<a href="/home/estaciones/tiempoReal/{{id_estacion}}" title="Tiempo Real">
                                <em class="fas fa-gas-pump p-2 btn-success btn-sm"></em> </a>-->
                                <button onclick="fromStationsToRealTime()" title="Ver en Tiempo Real">
                                <em class="fas fa-gas-pump p-2 btn-success btn-sm"></em> </button>
                            </td>
                        </tr>
                        {{/each}} 

                    </tbody>
                </table>
            </div>  
        </div>
    </div>
    {{/if}}
    <!--TERMINA PAGINA PARA MOSTRAR DATOS DE LAS ESTACIONES-->


    <!--INICIA PAGINA PARA EDITAR DATOS DE UNA ESTACION-->
    <div class="agregarestacion" style="display: none;" id="stationEdit">
        <p>Edite los campos que desea modificar de la estación</p>
        <form action="/home/estaciones/actualizar/{{datosEstacion.id_estacion}}" method="post">
            <div class="labels">
                <label for="codigo">Código</label><br>
                <label for="codigo">Nombre</label><br>
                <label for="codigo">  N° conectores</label><br>
            </div>
            <div class="inputs">
                <input type="text" value="{{datosEstacion.codigo_estacion}}" name="idestacion">
                <input type="text" value="{{datosEstacion.nombre_estacion}}" name="nombreestacion">
                <input type="text" value="{{datosEstacion.cant_conectores}}" name="tipoestacion">
            </div>
            <div class="submits">
                <input type="submit" name = "subirestacion" value="Actualizar datos de estación"><br>
            </div>
            <div class="submits">
                <a type="button" name="volver" href="/home/estaciones/informacion">Volver</a>
            </div>
        </form>
    </div>
    <!--TERMINA PAGINA PARA EDITAR DATOS DE UNA ESTACION-->


    <!--INICIA PAGINA PARA DETALLES DE UNA ESTACION-->
    <div class="col-md-12 p-4" id="stationDetails" style="display: none;">
        <div class="card">
            <div class="card-header text-center">
                <h3 style="font-family: sans-serif;">Detalles de la estacion {{estacion.nombre_estacion}}</h3>
            </div>
            <button class="btn btn-info col-md-3" onclick="getDiagnostics(1)">Obtener Diagnosticos</button>
            <div class="card-body">
                <div class="row">
                    <div class="col-md-4 text-center">
                        {{#if datosEstacion.nombre_foto}}
                        <img src="/images/estaciones/{{datosEstacion.nombre_foto}}" 
                        width="200px" height="400px" style="border: 1px solid; padding: 1px">
                        {{else}}
                        <img src="/images/estaciones/logoEstacion.png" 
                        width="200px" height="400px" style="border: 1px solid; padding: 1px">
                        {{/if}}
                    </div>
                    <div class="col-md-7 text-center" >
                        <div class="card" style="margin-bottom: 20px">
                            <div class="card-header">
                                Detalles
                            </div>
                            <div class="row">
                                <div class="col-md-12 text-center p-3">
                                    <span style="padding-right: 30px"><b>Identificador:</b> {{datosEstacion.id_estacion}}</span>
                                    <span style="padding-right: 30px"><b>Código:</b> {{datosEstacion.codigo_estacion}}</span>
                                    <span style="padding: 3px"><b>Nombre:</b> {{datosEstacion.nombre_estacion}}</span>
                                </div>
                                
                            </div>
                        </div>
                        <div class="card" style="margin-bottom: 20px;">
                            <div class="card-header">
                                Caracteristicas Técnicas
                            </div>
                            <div class="row">
                                <div class="col-md-6 text-center p-3">
                                    <label><b>N° conectores:</b> {{datosEstacion.cant_conectores}}</label><br>
                                    <label><b>Potencia Nominal: </b> {{datosEstacion.potencia_nominal}}</label><br>
                                    <label><b>Potencia Maxima:  </b>{{datosEstacion.potencia_maxima}}</label><br>
                                    <label><b>Voltaje Nominal:  </b>{{datosEstacion.voltage_nominal}}</label><br>
                                </div>
                                <div class="col-md-6 text-center p-3">
                                    
                                    <label><b>Voltaje Maximo:   </b>{{datosEstacion.voltage_maximo}}</label><br>
                                    <label><b>Corriente Nominal:</b> {{datosEstacion.corriente_nominal}}</label><br>
                                    <label><b>Corriente Maxima: </b> {{datosEstacion.corriente_maxima}}</label><br>
                                    <label><b>Cargas Simultaneas: </b> {{datosEstacion.cargas_simultaneas}}</label><br>
                                </div>
                                
                            </div>
                        </div>
                        <div class="submits">
                            <button  class="btn btn-success" id="toStationsDetails" onclick="toStationsDetails()">
                                <em class="fa fa-arrow-left"></em> Volver</button>
                            <button  class="btn btn-info" id="toStationEdit" onclick="toStationEdit()">
                            <em class="fa fa-pencil"></em> Editar</button>
                            <a  class="btn btn-warning" name="volver" 
                            href="/home/estaciones/transacciones/{{datosEstacion.id_estacion}}">
                            <em class="fa fa-pencil"></em> Historial de Cargas</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--TERMINA PAGINA PARA DETALLES DE UNA ESTACION-->


    {{#if transacciones}}
    <div class="col-md-12 p-4">
        {{#if datosTransacciones}}
        <div class="card">
            <div class="card-header">
                <div class="row">
                    <h2 class="col-md-11">Transacciones registradas</h2>
                    <a type="button" class="btn btn-success pull-left col-md-1" name="volver" href="/home/estaciones/info/{{id_estacion}}">
                    <em class="fa fa-arrow-left"></em> Volver</a>
                </div>
            </div>
            <div class="card-body">
                <table class="table text-center">    
                    <thead>
                        <tr>
                            <th>Id transacción</th>
                            <th>Código RFID</th>
                            <th>Hora inicio</th>
                            <th>Hora fin</th>
                            <th>Energía inicio [Wh]</th>
                            <th>Energía fin [Wh]</th>
                            <th>Energía cons. [mWh]</th>
                            <th>Estado trans.</th>
                            <th>Razón</th>
                            <th></th>
                        </tr>
                    </thead>
                
                
                    <tbody>
                        {{#each datosTransacciones}}
                            <tr>
                                <td>{{id_transaccion}}</td>
                                <td>{{codigo_rfid}}</td>
                                <td>{{hora_inicio}}</td>
                                <td>{{hora_fin}}</td>
                                <td>{{energia_inicio}}</td>
                                <td>{{energia_fin}}</td>
                                <td>{{energia_consumida}}</td>
                                <td>{{estado}}</td>
                                <td>{{razon}}</td>
                                <td><a href="/home/transacciones/eliminar/{{id_transaccion}}" class="btn"
                                title="eliminar"> <em class="fa fa-trash"></em></a></td>
                            </tr>
                            
                        {{/each}}
                    </tbody>
                </table>
            </div>
        </div>
        {{else}}
        <div class="col-md-4 mx-auto">
            <div class="card card-body text-center">
                <p>Aún no se ha realizado ninguna transacción en ninguna estación</p>
            </div>
        </div>
        {{/if}}
    </div>

    <!--INICIA PAGINA PARA TIEMPO REAL-->
    {{else if tiempoReal}}
        <div class="col-md-12 p-4">
            <h3>Aqui va el nombre de la estacion</h3>
        </div>
        {{#each datosConectores}}
        <div class="card p-4">
            <div class="card-header">
                Conector {{id_conector}}
            </div>
            <div class="card-body">
                Aqui va la grafica de carga
                <div  id='chart'>
                </div>
            </div>
        </div>
        {{/each}}
        <div class="col-md-12 text-right" style="padding: 1em">
                <a style="color: #fff" href="/home/estaciones/informacion" class="btn btn-info">Volver</a> 
        </div>
    </div>
    {{/if}}
    <!--TERMINA PAGINA PARA TIEMPO REAL-->



    <!--INICIA PAGINA PARA AGREGAR ESTACION-->
    <div style="color:#fff; display:none" id="pageAddStation">  
        <!--INICIA SECCION 1 PARA AGREGAR DATOS DE ESTACION-->
        <div class="agregarestacion" id="addStation1" style="padding:2em">
            <h3 style="color:#fff; text-align:center; margin-bottom: 1em">PASO 1: DATOS DE LA ESTACION</h3>
                <div class="labels">
                    <label for="codigo">Código</label><br>
                    <label for="codigo">Nombre</label><br>
                    <label for="codigo">  N° conectores</label><br>
                </div>
                <div class="inputs">
                    <input type="text" id="stationCode" ><br>
                    <input type="text" id="stationName"><br>
                    <input type="text" id="connectorNumber"><br>
                </div>
                <div class="submits">
                    <input type="submit" onclick="addStation1()" value="Siguiente"><br>
                </div>
                {{mensaje}}
        </div>
        <!--TERMINA SECCION 1 PARA AGREGAR DATOS DE ESTACION-->
        
        <!--INICIA SECCION 2 PARA AGREGAR DATOS DE ESTACION-->
        <div class="agregarestacion" id="addStation2" style="display:none">
            <p>PASO 2: ESTABLECER PRIMERA CONEXI[ON WEBSOCKET</p>
            <!--<button onclick="seeAntValues()">Mostrar valores</button>-->
            <div id="waitingHS" style="display: none; text-align:center">
                <span > Esperando HandShake de estacion...</span><br>
                <div  class="spinner-grow" role="status"></div>
            </div>
            <div id="firstWSHandshake" style="display: none; text-align:center">
                <h4>Solicitud de WebSocket!</h4>
                <h5>Datos:</h5>
                <p>Aqui va una lista de datos de la conexion</p>
                <button id="acceptWsHandshake" onclick="sendFirstWsResponse()" class="btn btn-success">Aceptar Conexion</button>
            </div>
            <div class="text-center" style="padding:1em" display="block">
                <button onclick="setFirstWS()" class="btn btn-success" >Si</button>
                <button onclick="addStation2()" class="btn btn-success">No, mejor luego</button>
                <button onclick="addStation2()" class="btn btn-success">Listo, continuar</button>
            </div>
            <div class="col-md-6"> 
                <button onclick="fromAdd2ToAdd1()" class="btn btn-success"> 
                    <em class="fa fa-arrow-left"></em> Volver</button>
            </div>
        </div>
        <!--TERMINA SECCION 2 PARA AGREGAR DATOS DE ESTACION-->
        <div class="col-md-4 col-offset-md-4 p-3" >
            <button onclick="fromAddToDetailsStations()" class="btn btn-info form-control">Listar Estaciones</button>
        </div>
    </div>
    <!--TERMINA PAGINA PARA AGREGAR ESTACION-->

</body>
