<link rel="stylesheet" href="/css/tables.css">
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

<body>
    {{#if datosTransaccion}}
        <div class="datatable-container-transacciones">
            <div class="hestaciones" >
                <h2>Transacciones registradas</h2>
            </div>
            <table class="tabla" id="table">    
                <thead>
                    <tr>
                        <th>Id transacción</th>
                        <th>Código RFID</th>
                        <th>Hora inicio</th>
                        <th>Hora fin</th>
                        <th>Energía inicio [Wh]</th>
                        <th>Energía fin [Wh]</th>
                        <th>Energía cons. [mWh]</th>
                        <th>Estado trans.</th>
                        <th>Razón</th>
                        <th></th>
                    </tr>
                </thead>
            
            
                <tbody class="cont-tabla" >
                    {{#each datosTransaccion}}
                        <tr>
                            <td>{{id_transaccion}}</td>
                            <td>{{codigo_rfid}}</td>
                            <td>{{hora_inicio}}</td>
                            <td>{{hora_fin}}</td>
                            <td>{{energia_inicio}}</td>
                            <td>{{energia_fin}}</td>
                            <td>{{energia_consumida}}</td>
                            <td>{{estado}}</td>
                            <td>{{razon}}</td>
                            <td><a href="/home/transacciones/eliminar/{{id_transaccion}}"><i class="material-icons">delete</i></a></td>
                        </tr>
                        
                    {{/each}}
                </tbody>
            </table>
        </div>
    {{else}}
        <div class="col-md-4 mx-auto">
            <div class="card card-body text-center">
                <p>Aún no se ha realizado ninguna transacción en ninguna estación</p>
            </div>
        </div>
    {{/if}}
</body>
        

